html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 10px;
    letter-spacing: 0.1rem;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    font-family: 'League Spartan', sans-serif;
}

body{ 
    --text-xl: 4rem;
    --text-l: 3.2rem;
    --text-m: 2.2rem;
    --text-ms: 1.2rem;
    --text-s: 1rem;

    /* #### Background */
    --bg-main: hsl(222, 26%, 31%);
    --bg-sub-a: hsl(223, 31%, 20%);
    --bg-sub-b: hsl(224, 36%, 15%);

    --shd-hover: rgba(255,255,255, 0.8);

    /* #### Keys */
    --btn-main-a: hsl(30, 25%, 89%);
    --btn-main-b: hsl(28, 16%, 65%);
    --btn-main-act: hsl(0, 0%, 100%);
    --btn-b-a: hsl(225, 21%, 49%);
    --btn-b-b: hsl(224, 28%, 35%);
    --btn-b-act: hsl(225, 28%, 69%);
    --btn-c-a: hsl(6, 63%, 50%);
    --btn-c-b: hsl(6, 70%, 34%);
    --btn-c-act: hsl(6, 100%, 68%);

    /* #### Text */
    --font-main: hsl(0, 0%, 100%);
    --font-sub: hsl(221, 14%, 31%);

    --font-btn: hsl(221, 14%, 31%); 
    --font-btn-alt: hsl(0, 0%, 100%);
    --font-btn-sum: hsl(0, 0%, 100%);
}

body.style-1{ 
        /* #### Background */
        --bg-main: hsl(222, 26%, 31%);
        --bg-sub-a: hsl(223, 31%, 20%);
        --bg-sub-b: hsl(224, 36%, 15%);
        --btn-main-act: hsl(0, 0%, 100%);
        /* #### Keys */
        --btn-main-a: hsl(30, 25%, 89%);
        --btn-main-b: hsl(28, 16%, 65%);
        --btn-b-a: hsl(225, 21%, 49%);
        --btn-b-b: hsl(224, 28%, 35%);
        --btn-b-act: hsl(225, 28%, 69%);
        --btn-c-a: hsl(6, 63%, 50%);
        --btn-c-b: hsl(6, 70%, 34%);
        --btn-c-act: hsl(6, 100%, 68%);
    
        /* #### Text */
        --font-main: hsl(0, 0%, 100%);
        --font-sub: hsl(221, 14%, 31%);

        --font-btn: hsl(221, 14%, 31%); 
        --font-btn-alt: hsl(0, 0%, 100%);
        --font-btn-sum: hsl(0, 0%, 100%);
}

body.style-2{ 
        /* #### Background */
        --bg-main: hsl(0, 0%, 90%);
        --bg-sub-a: hsl(0, 5%, 81%);
        --bg-sub-b: hsl(0, 0%, 93%);
    
        /* #### Keys */
        --btn-b-a: hsl(185, 42%, 37%);
        --btn-b-b: hsl(185, 58%, 25%);
        --btn-b-act: hsl(185, 37%, 54%);
        --btn-main-a: hsl(45, 7%, 89%);
        --btn-main-b: hsl(35, 11%, 61%);
        --btn-main-act: hsl(0, 0%, 100%);
        --btn-c-a: hsl(25, 98%, 40%);
        --btn-c-b: hsl(6, 70%, 34%);
        --btn-c-act: hsl(25, 100%, 59%);
    
        /* #### Text */
        --font-main: hsl(60, 10%, 19%);
        --font-sub: hsl(0, 0%, 100%);

        --font-btn: hsl(221, 14%, 31%); 
        --font-btn-alt: hsl(0, 0%, 100%);
        --font-btn-sum: hsl(0, 0%, 100%);
}

body.style-3{ 
        /* #### Background */
        --bg-main: hsl(268, 75%, 9%);
        --bg-sub-a: hsl(268, 71%, 12%);
        --bg-sub-b: hsl(268, 71%, 12%);
    
        /* #### Keys */
        --btn-b-a: hsl(281, 89%, 26%);
        --btn-b-b: hsl(285, 91%, 52%);
        --btn-b-act: hsl(281, 67%, 42%);
        --btn-c-a: hsl(176, 100%, 44%);
        --btn-c-b: hsl(177, 92%, 70%);
        --btn-c-act: hsl(176, 100%, 70%);
        --btn-main-a: hsl(268, 47%, 21%);
        --btn-main-b: hsl(290, 70%, 36%);
        --btn-main-act: hsl(268, 35%, 38%);
    
        /* #### Text */
        --font-main: hsl(52, 100%, 62%);
        --font-sub: hsl(0, 0%, 100%);

        --font-btn: hsl(52, 100%, 62%);
        --font-btn-alt: hsl(0, 0%, 100%);
        --font-btn-sum: hsl(198, 20%, 13%);
     
}

.app-container {
    position: relative;
    width: 100vw;
    /* height: 100vh; */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-main);
}
/* 
- Very dark desaturated blue (main background): hsl(222, 26%, 31%)
- Very dark desaturated blue (toggle background, keypad background): hsl(223, 31%, 20%)
- Very dark desaturated blue (screen background): hsl(224, 36%, 15%) */

.calc-container {
    position: relative;
    /* background: var(--bg-sub-a); */
    max-width: 44rem;
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    padding: 3rem 2.5rem;
    flex-grow: 1;
}

header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 2.5rem;
}

header h1 {
    font-size: var(--text-m);
    font-family: 'League Spartan', sans-serif;
    color: var(--font-main);
    padding-left: 0.5rem;

}

.header-right {
    display: flex;  
    justify-content: flex-start; 
    align-items: flex-end;
}

.header-right p {
    font-size: var(--text-s);
    color: var(--font-main);
    padding-bottom: 0.5rem;
}

.header-right > div {
    padding-left: 1.5rem;
}

.header-right {
    display: flex;  
    justify-content: flex-start; 
    align-items: flex-end;
}

.toggle-display {
    display: flex;


}


.calc-window {
    /* width: 100%; */
    font-size: var(--text-xl);
    padding: 3.5rem 2.5rem;
    color: var(--font-main);
    display: flex;
    justify-content: flex-end;
    background-color: var(--bg-sub-b);
    border-radius: 1rem;
    margin-bottom: 2rem;
    overflow: hidden;
    /* white-space: nowrap; */
    word-wrap: break-word;
    word-break: break-all;

}

.calc-btns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    padding: 2.5rem;
    column-gap: 2rem;
    row-gap: 2.5rem;
    background-color: var(--bg-sub-a);
    border-radius: 1rem;
}

button {
    font-size: var(--text-l);
    padding: 1.25rem 1.5rem 0.5rem 1.5rem;
    border-radius: 0.7rem;
    border: none;
    background-color: var(--btn-main-a);
    box-shadow: 0rem 0.25rem 0rem 0rem var(--btn-main-b);
    color: var(--font-btn);
    text-align: center;
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}



button.btn-del, button.btn-clear {
    font-size: var(--text-m);
    color: var(--font-btn-alt);
    background-color: var(--btn-b-a);
    box-shadow: 0rem 0.25rem 0rem 0rem var(--btn-b-b);
}

button.btn-equals {
    font-size: var(--text-m);
    color: var(--font-btn-sum);
    background-color: var(--btn-c-a);
    box-shadow: 0rem 0.25rem 0rem 0rem var(--btn-c-b);
}

button:active { 
    background-color: var(--btn-main-act);
}

button.btn-del:active, button.btn-clear:active {
    background-color: var(--btn-b-act);
}

button.btn-equals:active {
    background-color: var(--btn-c-act);
}

#clear {
    grid-area: 5/1/ 6/ 3;
}

#equals {
    grid-area: 5/3/ 6/ 5;
}

.toggle-display {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.25rem;
}
.toggle-display p {
    /* flex-grow: 1; */
    /* text-align: center; */
    font-size: var(--text-ms);
    padding: 0rem;
}



.toggle {
    position: relative;
    height: 2rem;
    width: 5.5rem;
    border-radius: 10rem;
    background-color: var(--bg-sub-a);

    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle:active #select-ball {

}

.style-select {
    height: 100%;
    flex-grow: 1;
    /* border: 1px solid red; */
    cursor: pointer;
    z-index: 1;
}

#select-ball {
    height: 1.2rem;
    width: 1.2rem; 
    border-radius: 10rem;
    background-color: var(--btn-c-a);
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
    transition: left 0.5s;
    overflow: hidden;
}

.toggle:active #select-ball {
    background-color: var(--btn-c-act);
}

#select-ball.style-1 {
    left: 0.4rem;
}

#select-ball.style-2 {
    left: 2rem;
}
#select-ball.style-3 {
    left: 4rem;
}

/* .btn-cap {
    position: relative;
    width: 100%;
    height: 100%;
    width: auto;
}

.btn-cap:hover {
    background-color: var(--shd-hover);
} */



@media only screen and (max-width: 600px) {

    .app-container {
        /* flex-direction: column; */
        /* justify-content: flex-start;
        align-items: flex-start; */
        /* flex-grow: 1; */
        /* padding: 3rem 2.5rem; */

    }

    .calc-container {
        /* padding: 3rem 2.5rem; */
        min-height: 40rem;
        /* flex-grow: 1; */
        flex-grow: 1;
        /* height: 100%; */
        /* min-width: none; */
        /* width: 100%; */
    }

    header {
        padding-bottom: 3.5rem;
    }

    header h1 {
        font-size: var(--text-l);
    }

    .header-right > p {
        font-size: 1.2rem;
        padding-right: 1rem;
    }

    .toggle {
        height: 2.5rem;
        width: 7rem;
    }
    
    #select-ball {
        height: 1.5rem;
        width: 1.5rem; 
        top: 0.5rem;
        left: 0.5rem;
    }

    #select-ball.style-1 {
        left: 0.5rem;
    }
    
    #select-ball.style-2 {
        left: 2.5rem;
    }
    #select-ball.style-3 {
        left: 5rem;
    }

    .calc-window {
        padding: 2.5rem;
    }

    .calc-btns {
        flex-grow: 1;
        padding: 2.5rem;
        column-gap: 1rem;
        row-gap: 1.75rem;
        /* min-height: 40rem; */
    }

    button {
        box-shadow: 0rem 0.4rem 0rem 0rem var(--btn-main-b);
    }
    
    button.btn-del, button.btn-clear {
        box-shadow: 0rem 0.4rem 0rem 0rem var(--btn-b-b);
        font-size: 2rem;
    }
    
    button.btn-equals  {
        box-shadow: 0rem 0.4rem 0rem 0rem var(--btn-c-b);
    }

}
